.input-field{
    border:none;
    position: relative;
}

.input-field:focus{
    outline: none;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 15px;
    padding: 15px;
}

/* fieldset input{
    width: 100%;
} */

button{
    border: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.chip{
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chip span{
    margin: 0 5px;
}
.chip-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chip-name{
    font-size: small;
    font-weight: bold;
}

.user{
    display: flex;
    align-items: center;
    width: 100%;
}

.user-name{
    /* font-weight: bold; */
    margin: 0 5px;
}

.user-mail{
    margin: 0 5px;
    font-style: italic;
}

.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown-list {
    width: 100%;
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 15px;
    border-top: none;
}

.users{
    margin: 0 10px;
}

.error{
    color: red;
    font-size: small;
    font-style: italic;
    padding: 10px;
}
.highlight{
    background-color: #196de3;
    color: white;
}
.highlight button{
    background-color: #196de3;
    color: white;
    margin: 5px;
}

.fieldset-highlight{
    border-bottom: 5px solid #196de3;
}